<div class="book">
    <img src="{{bookDetails.book_cover}}" alt="Cover image of {{bookDetails.title}}">
    <h3>{{bookDetails.title}}</h3>
    <p>By {{bookDetails.author.author_name}}</p>
    <p>Genre: {{bookDetails.genre.genre_name}}</p>
    <p>Published: {{bookDetails.book_date}}</p>
    <p>Pages: {{bookDetails.pages}}</p>
    <p>Language: {{bookDetails.Language}}</p>
    <p>Review: {{bookDetails.about}}</p>
    <a href="{{bookDetails.amazon_link}}">Buy on Amazon</a>
</div>