{{!-- {{#each books as |book|}} --}}
{{!-- {{/each}} --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Exchange Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>




    <main>
        {{!-- <h1>Welcome to the Book Exchange Platform</h1> --}}

        <section class="featured-books container-fluid">
            <h2>Featured Books</h2>

            {{#each books}}
            <div class="card" style="width: 18rem;">
               <a href="/books/{{this.id}}">
                    <img class="card-img-top" src="{{this.book_cover}}" alt="Cover image of {{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                    </div>
                </a>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p>By {{this.author.author_name}}</p></li>
                </ul>
                <div class="card-body">
                    <a href="/books/{{this.id}}" class="card-link">Details</a>
                    <a href="#" class="card-link">Reviews</a>
                </div>
            </div>
            {{/each}}

        </section>
    </main>

    <footer>

    </footer>
</body>

</html>